<%= form_for [:admin, @treatment], html: { id: "treatment-form", multipart: true } do |f| %>
  <fieldset>
    <div>
      <%= f.label :category_id, "Categorie" %>
      <%= f.select :category_id, options_for_categories, label: "Category" %>
    </div>
    <div>
      <%= f.label :title, "Titel" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :tagline, "Tagline" %>
      <%= f.text_field :tagline %>
    </div>
    <div>
      <%= f.label :summary, "Samenvatting" %>
      <%= f.text_area :summary %>
    </div>
    <div>
      <%= f.label :description, "Beschrijving" %>
      <%= f.text_area :description, size: "20x10" %>
    </div>
    <div>
      <% if @treatment.image.present? %>
        <%= image_tag @treatment.image.url %>
      <% end %>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <div>
      <%= f.label :price, "Prijs" %>
      <%= f.text_field :price, maxlength: 4, class: "price" %>
    </div>
    <% if @treatment.new_record? %>
      <%= f.button "Behandeling Toevoegen" %>
    <% else %>
      <%= f.button "Behandeling Aanpassen" %>
    <% end %>
  </fieldset>
<% end %>

<script>
  $(function() {
    $('#treatment_description').editable({
      inlineMode: false,
      buttons: ['bold', 'italic', 'insertUnorderedList']
    })
  });
</script>
