<section class="dashboard">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="filter">
    <%= form_tag admin_treatments_path, method: "get", id: "filter", class: "filter" do %>
    <%= label_tag "Category" %>
    <%= select "treatment", "category", options_for_select(options_for_categories, selected: @selected), {prompt: 'All'}, onchange: "$('#filter').submit();" %>
  <% end %>
  </div>
  <%= button_to "Behandeling Toevoegen", new_admin_treatment_path, method: "get" %>
  <table id="treatments" class="table-borders">
    <tbody data-update-url="<%= sort_admin_treatments_url %>">
    <% if @treatments.count != 0 %>
      <% @treatments.each do |treatment| %>
        <%= content_tag_for :tr, treatment do %>
          <td><%= link_to treatment.title, admin_treatment_path(treatment) %></td>
          <td><%= link_to "Aanpassen", edit_admin_treatment_path(treatment) %>&nbsp;&nbsp;
            <%= link_to "Verwijderen", admin_treatment_path(treatment), method: :delete, data: { confirm: "Ben je zeker?" } %></td>
          <% end %>
      <% end %>
    <% else %>
      <p class="no-items">Er zijn momenteel geen behandelingen, voeg een nieuwe behandeling toe</p>
    <% end %>
    </tbody>
  </table>
</section>
