<div class="item" data-mh="item">
  <header>
    <h1><%= treatment.title %>
      <% if treatment.price.present? %>
        &euro; <%= sprintf("%g", treatment.price) %>
      <% end %>
    </h1>
  </header>
  <%= image_for(treatment) %>
  <p><%= treatment.summary %></p>
  <p class="more_info"><%= link_to "Meer info", behandeling_path(treatment) %></p>
  <div class="cta">
    <%= button_to "Maak een afspraak", new_contact_path, method: "get" %>
  </div>
</div>
