<% content_for :title, " - #{@treatment.title.titleize}" %>
<% content_for :description, "aan elke behandeling gaat een huidanalyse vooraf met vrijblijvend productadvies voor de thuisbehandeling" %>
<article class="behandeling">
  <div class="breadcrumb">
    <%= link_to @treatment.category.name, behandelingen_path(@treatment.category.name) %>
    <a href="javascript:void(0)"><%= @treatment.title %></a>
  </div>
  <header>
    <h1><%= @treatment.title %></h1>
    <p class="tagline"><%= @treatment.tagline %></p>
  </header>
  <aside>
    <% if @treatment.image.present? %>
      <%= image_tag @treatment.image.url %>
    <% end %>
  </aside>
  <div class="content">
    <p><%= sanitize @treatment.description, tags: %w(strong i ul li) %></p>
    <% if @treatment.price.present? %>
      <p class="price"><strong>Prijs:</strong> &euro; <%= sprintf("%g", @treatment.price) %></p>
    <% end %>
    <div class="cta">
      <%= button_to "Maak een Afspraak", new_contact_path, method: "get" %>
    </div>
  </div>
</article>

