<%= form_for [:admin, @section], html: { id: "section-form", multipart: true } do |f| %>
  <fieldset>
    <div>
      <%= f.label :category_id, "Categorie" %>
      <%= f.select :category_id, options_for_categories, label: "Category" %>
    </div>
    <div>
      <%= f.label :title, "Titel" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description, "Beschrijving" %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <% if @section.new_record? %>
      <%= f.button "Sectie Toevoegen" %>
    <% else %>
      <%= f.button "Sectie Aanpassen" %>
    <% end %>
  </fieldset>
<% end %>
