<section class="dashboard">
  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <div class="add">
    <%= button_to "Sectie Toevoegen", new_admin_section_path, method: "get" %>
  </div>
  <table class="table-borders">
    <tbody>
    <% if @sections.count != 0 %>
      <% @sections.each do |section| %>
        <tr>
          <td><%= link_to section.title, admin_section_path(section) %></td>
          <td><%= link_to "Aanpassen", edit_admin_section_path(section) %>&nbsp;&nbsp;<%= link_to 'Verwijderen', admin_section_path(section), method: :delete, data: { confirm: "Ben je zeker?" } %></td>
        </tr>
      <% end %>
    <% else %>
      <p class="no-items">Er zijn momenteel geen secties, voeg een nieuwe sectie toe</p>
    <% end %>
    </tbody>
  </table>
</section>
