<%= form_for [:admin, @section] do |f| %>
  <fieldset>
    <div>
      <%= f.label :title, "Titel" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description, "Beschrijving" %>
      <%= f.text_area :description %>
    </div>
    <%= f.button "Sectie Toevoegen" %>
  </fieldset>
<% end %>
