<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      ANNIEK LAMBRECHT
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "DF Behandelingen", category_path("df-behandeling") %></li>
        <li class="nav-link"><%= link_to "Gelaatsverzorging", category_path("gelaatsverzorging") %></li>
        <li class="nav-link"><%= link_to "Make-Up", category_path("make-up") %></li>
        <li class="nav-link"><%= link_to "Pedicure - Epilatie", category_path("pedicure-epilatie") %></li>
        <li class="nav-link"><%= link_to "Producten", producten_path %></li>
        <li class="nav-link"><%= link_to "Contact", new_contact_path %></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <% if !current_user_admin? %>
        <a href="tel:050694165" class="phone"><i class="fa fa-phone left"></i>050/694165</a>
      <% end %>
      <% if current_user_admin? %>
        <%= link_to "Admin", admin_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

<% content_for :javascript do %>
  <script>
  $(document).ready(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu').unbind();
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

   
   // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
  </script>
<% end %>

