<section class="contact">
  <h1>Maak een afspraak</h1>
  <%= simple_form_for @contact do |f| %>
    <fieldset>
        <%= f.input :name, label: "Naam" %>
        <%= f.input :email, label: "Email" %>
        <%= f.input :phone, label: "Telefoon" %>
        <%= f.input :message, as: :text, label: "Gewenste behandeling" %>
      <%= f.button :submit, "Maak een Afspraak" %>
    </fieldset>
  <% end %>
  <aside>
    <h2>Contact</h2>
    <p>
      <i class="fa fa-home left"></i>Zuidlaan 54, 8370 Blankenberge<br />
      <i class="fa fa-envelope left"></i><a href="mailto:info@anniek-lambrecht.be">info@anniek-lambrecht.be</a><br />
      <i class="fa fa-phone left"></i><a href="tel:0472246502">0472 24 65 02</a>
    </p>
    <h3>Openingsuren</h3>
    <p><strong>Op afspraak.</strong> 
    Graag neem ik je afspraak telefonisch aan. Tijdens behandelingen wordt er niet opgenomen maar laat uw naam en telefoon na dan bel ik u zeker terug.</p>
    <strong>Gesloten op</strong>: Woensdag, zaterdagnamiddag, zon en feestdagen</p>
  </aside>
</section>

