<%= form_for [:admin, @promotion], html: { id: "promotion-form", multipart: true } do |f| %>
  <fieldset>
    <div>
      <%= f.label :title, "Titel" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :tagline, "Tagline" %>
      <%= f.text_field :tagline %>
    </div>
    <div>
      <%= f.label :description, "Beschrijving" %>
      <%= f.text_area :description %>
    </div>
    <div>
      <% if @promotion.image.present? %>
        <%= image_tag @promotion.image.url %>
        <p>
        <%= f.check_box :remove_image %>
        verwijder afbeelding</p>
      <% end %>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <div>
      <%= f.label :price, "Prijs" %>
      <%= f.text_field :price %>
    </div>
    <% if @promotion.new_record? %>
      <%= f.button "Actie Toevoegen" %>
    <% else %>
      <%= f.button "Actie Aanpassen" %>
    <% end %>
  </fieldset>
<% end %>
