<div class="behandeling">
  <div class="behandeling-inner row">
    <h2><%= section.title %></h2>
    <%= image_tag section.image.url if section.image.present? %>
    <p><%= section.description %></p>
    <ul class="fa-ul">
      <% if is_product_category?(section.category_id) %>
        <% @products.each do |product| %>
          <li><%= link_to product.title, producten_path %></li>
        <% end %>
      <% else %>
        <% @behandelingen.each do |behandeling| %>
          <% if belongs_to_section?(behandeling, section) %>
              <li><%= link_to behandeling.title, behandeling_path(behandeling) %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
