<section class="home">
  <div class="hero block">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Schoonheidssalon Anniek Lambrecht</h1>
      <%= image_tag "anniek-lambrecht-194x194.jpg", class: "hero-image", alt: "anniek lambrecht" %>
      <p>Gespecialiseerd in huidverbetering en gelaatsverzorging met Environ vitamine producten en Jane Iredale minerale make up.</p>
      <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
		</div>
    <%= button_to "Maak een Afspraak", new_contact_path, method: "get" %>
	</div>
</div>
<div class="acties block">
  <div class="acties-inner">
    <h2>Acties</h2>
    <div class="actie">
      <% if !(@promotions.count > 1) %>
        <% @promotions.each do |promotion| %>
        <p class="title"><%= link_to promotion.title, promotion_path(promotion) %></p>
        <p class="tagline"><%= promotion.tagline %></p>
        <%= image_tag promotion.image %>
        <p><%= promotion.description %></p>
        <% end %>
      <% else %>
        <% @promotions.each do |promotion| %>
        <p class="title"><%= link_to promotion.title, promotion_path(promotion) %></p>
        <p class="tagline"><%= promotion.tagline %></p>
        <p><%= promotion.description %></p>
        <% end %>
      <% end %>
  </div>
</div>
</div>
  <% @sections.in_groups_of(3, false) do |sections| %>
  <div class="behandelingen">
    <% sections.each do |section| %>
    <div class="behandeling">
      <div class="behandelingen-inner">
        <h2><%= section.title %></h2>
        <%= image_tag section.image.url %>
        <p><%= section.description %></p>
        <ul class="fa-ul">
          <% if section.category_id != 5 %>
            <% @behandelingen.each do |behandeling| %>
              <% if behandeling.category_id == section.category_id %>
              <li><%= link_to behandeling.title, behandeling_path(behandeling) %></li>
              <% end %>
            <% end %>
          <% else %>
            <% @products.each do |product| %>
              <li><%= link_to product.title, producten_path %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</section>

<script>
$(document).ready(function () {
  $('.block').matchHeight();
  $('.behandeling').matchHeight();
});
</script>

