<section class="home">
  <div data-mh="row1" class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Schoonheidssalon Anniek Lambrecht</h1>
      <%= image_tag "anniek-lambrecht-194x194.jpg", class: "hero-image", alt: "anniek lambrecht" %>
      <p>Gespecialiseerd in huidverbetering en gelaatsverzorging met Environ vitamine producten en Jane Iredale minerale make up.</p>
      <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
		</div>
    <p class="center"><button>Maak een Afspraak</button></p>
	</div>
</div>
<div data-mh="row1" class="acties">
  <div class="acties-inner">
    <h2>Acties</h2>
    <div class="actie">
      <% @promotions.each do |promotion| %>
        <p class="title"><%= promotion.title %></p>
      <p class="tagline"><%= promotion.tagline %></p>
      <%= image_tag promotion.image %>
      <p><%= promotion.description %></p>
      <% end %>
  </div>
</div>
</div>
  <div class="behandelingen">
    <div data-mh="row2" class="behandeling">
      <div class="behandelingen-inner">
        <h2>Gelaatsverzorgingen</h2>
        <img src="/images/environ-peeling-kuur.jpg" alt="environ peeling kuur" />
        <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i><a href="#">Environ Discovery</a></li>
          <li><i class="fa-li fa fa-check-square"></i><a href="#">Environ Express</a></li>
          <li><i class="fa-li fa fa-check-square"></i><a href="#">Environ Peel</a><li>
        </ul>
      </div>
    </div>
    <div data-mh="row2" class="behandeling">
      <div class="behandelingen-inner">
        <h2>Make-Up</h2>
        <img src="/images/make-up-250x193.jpg" alt="environ peeling kuur" />
        <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Environ Discovery</li>
          <li><i class="fa-li fa fa-check-square"></i>Environ Express</li>
          <li><i class="fa-li fa fa-check-square"></i>Environ Peel<li>
        </ul>
      </div>
    </div>
    <div data-mh="row2" class="behandeling">
      <div class="behandelingen-inner">
        <h2>Lichaamsbehandelingen</h2>
        <img src="/images/manicure.jpg" alt="environ peeling kuur" />
        <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Environ Discovery</li>
          <li><i class="fa-li fa fa-check-square"></i>Environ Express</li>
          <li><i class="fa-li fa fa-check-square"></i>Environ Peel<li>
        </ul>
      </div>
    </div>
  </div>
  <div class="behandelingen">
    <div data-mh="row3" class="behandeling">
      <div class="behandelingen-inner">
        <h2>Manicure-Pedicure-Epilatie</h2>
        <img src="/images/environ-peeling-kuur.jpg" alt="environ peeling kuur" />
        <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i><a href="#">Environ Discovery</a></li>
          <li><i class="fa-li fa fa-check-square"></i><a href="#">Environ Express</a></li>
          <li><i class="fa-li fa fa-check-square"></i><a href="#">Environ Peel</a><li>
        </ul>
      </div>
    </div>
    <div data-mh="row3" class="behandeling">
      <div class="behandelingen-inner">
        <h2>Producten</h2>
        <img src="/images/make-up-250x193.jpg" alt="environ peeling kuur" />
        <p>Ik werk naar huidverbetering toe en aan elke behandeling gaat een huidanalyse vooraf met productadvies voor de thuisbehandeling.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Environ Discovery</li>
          <li><i class="fa-li fa fa-check-square"></i>Environ Express</li>
          <li><i class="fa-li fa fa-check-square"></i>Environ Peel<li>
        </ul>
      </div>
    </div>
  </div>
</section>

