<%= form_for [:admin, @product], html: { id: "product-form", multipart: true } do |f| %>
  <fieldset>
    <div>
      <%= f.label :title, "Titel" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description, "Beschrijving" %>
      <%= f.text_area :description, size: "20x10" %>
    </div>
    <div>
      <% if @product.image.present? %>
        <%= image_tag @product.image.url %>
        <p>
        <%= f.check_box :remove_image %>
        verwijder afbeelding</p>
      <% end %>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <% if @product.new_record? %>
      <%= f.button "Product Toevoegen" %>
    <% else %>
      <%= f.button "Product Aanpassen" %>
    <% end %>
  </fieldset>
<% end %>

<script>
  $(function() {
    $('#product_description').editable({
      inlineMode: false,
      buttons: ['bold', 'italic', 'insertUnorderedList']
    })
  });
</script>
