<article class="actie">
  <div class="breadcrumb">
    <a href="javascript:void(0)">Acties</a>
    <a href="javascript:void(0)">Environ Peeling Kuur</a>
  </div>
  <header>
<h1><%= @promotion.title %></h1>
    <p class="tagline"><%= @promotion.tagline %></p>
  </header>
  <aside>
    <%= image_for(@promotion) %>
  </aside>
  <div class="content">
    <p><%= sanitize @promotion.description, tags: %w(strong p i ul li) %></p>
    <p class="price">Prijs: <%= number_to_currency(@promotion.price, :unit => "€") %></p>
    <%= button_to "Maak een Afspraak", new_contact_path, method: "get" %>
  </div>
</article>

