  <title>Anniek Lambrecht - <%= yield(:title) %></title>
  <meta http-equiv="Description" name="Description" content="<%= yield(:description) %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <script src="//use.typekit.net/qcw3fmf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
