<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head_contents' %>
</head>
<body>
  <div class="main" role="main">
    <%= render "shared/header" %>
    <%= render "shared/messages" %>
    <%= yield %>
  </div>
  <%= render "shared/footer" %>
  <%= yield(:javascript) %>
</body>
</html>

